.header {
  background-color: cadetblue;
  height: 100px;
  font-size: 25px;
  text-align: center;
}

.main {
  background-color: blanchedalmond;
  height: 200px;
  font-size: 20px;
  text-align: center;
}

.footer {
  background-color: cadetblue;
  height: 100px;
  font-size: 16px;
  text-align: center;
}