.main {
  background-color: blanchedalmond;
  min-height: 200px;
  font-size: 20px;
  display: flex;
}

.aside {
  width: 30%;
  background-color: aliceblue;
  text-align: center;
}

.content {
  width: 70%;
}

.user {
  cursor: pointer;
  padding: 5px;
}

.posts {
  font-size: 30px;
  margin: 0;
  padding: 25px;
}

.post {
  font-size: 20px;
  padding: 10px;
}
